body{
	text-align: center;
	display: inline-block;
	font-family: 'Barlow Semi Condensed', sans-serif;
	background: #e3f2f4;

}

h1 {
	margin: 20px 10px;

}
h5 {
	position: relative;
	margin: 5px 2px;
	padding: 10px 0 0 0;
	font-size: 16px;
}

button {
	position: absolute;
	display: inline-block;
	width: 200px;
	top: 550px;
	left: 500px;
	padding: 5px;
	margin: 10px 20px;
	border: 1px solid black;
	font-size: 18px;
}

/*#game {
	position: relative;

}*/

#gameGrid {
	position: absolute;
	top: 20;
	left: 0;
	border: 1px solid black;
	padding-top: 20px;
	width: 500px;
	height: 500px;
	margin: 10px 2px;
}

.gridBox {
	width: 100px;
	height: 100px;
	top: 20px;
	left: 0px;
	border: 1px solid black;
	display: inline-block;
	margin: 6px 0;
	padding: 20px;
	vertical-align: center;
	background-image: url('assets/images/waves.png');
	background-size: cover;

}

#scoreBox {
	position: absolute;
	display: inline-block;
	width: 200px;
	height: 450px;
	top: 20;
	left: 500px;
	margin: 10px 20px;
	border: 1px solid black;

}

.displayStats {
	display: inline-block;
	width: 130px;
	height: 50px;
	border: 1px solid black;
	margin: 10px 5px 0 5px;
	background-color: #fff;

}

#score {

}

#highScore {

}

#middle-c {
	background-image: url('assets/images/shark.png');
	background-size: cover;
}
