body{
	text-align: center;
	display: inline-block;
	font-family: sans-serif;


}

h5 {
	position: relative;
	margin: 5px 2px;
	padding: 10px 0 0 0;
}

#game {
	position: relative;


}

#gameGrid {
	position: absolute;
	top: 0;
	left: 0;
	border: 1px solid black;
	padding-top: 20px;
	width: 500px;
	height: 500px;
	margin: 10px 2px;
	/*margin-bottom: 200px;*/
}

.gridBox {
	width: 100px;
	height: 100px;
	top: 20px;
	left: 0px;
	border: 1px solid black;
	display: inline-block;
	margin: 6px 0;
	padding: 20px;
	vertical-align: center;

}

#scoreBox {
	position: absolute;
	display: inline-block;
	width: 200px;
	height: 450px;
	top: 0;
	left: 500px;
	margin: 10px 20px;
	border: 1px solid black;

}

.displayStats {
	display: inline-block;
	width: 130px;
	height: 60px;
	border: 1px solid black;
	margin: 20px 5px;

}

#score {

}

#highScore {

}

#reset {
	position: absolute;
	display: inline-block;
	width: 200px;
	top: 475px;
	left: 500px;
	padding: 5px;
	margin: 10px 20px;
	border: 1px solid black;
	font-size: 18px;
}
